@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using System.Web.Helpers
@model RenderingModel
@{
    var webClient = new WebClient();
    var json = webClient.DownloadString(@"http://sitecore823vanilla.local/api/forms");
}
<div>
    <script type="text/javascript">
      window.asuFormCopy = @Html.Raw(json)
    </script>
    <div id="react-app"></div>
    <script type="text/javascript" src="assets/js/main.js"></script>
</div>